.ui-box{
	box-sizing: border-box;
	display: flex;
	background: white;
	width:600px;
	height: 240px;
	flex-wrap: wrap;
	border:1px solid #666;
}
.ui-box-a{
	box-sizing: border-box;
	margin-top: 10px;
	margin-left: 16px;
	display: flex;
	background: rgb(192,192,192);
	width:100px;
	height:100px;
	border:1px solid #666;
}
.ui-box1{
	display: flex;
	width:100%;
	height:600px;
	position: absolute;
}
.ui-box-b{
	width:200px;
	height:200px;
	margin-left: 200px;
	margin-top: 20px;
	border:1px solid #666;
	background: white;
	position: absolute;
}
.ui-box-b-part{
	width:160px;
	height:160px;
	margin-left: 20px;
	margin-top: 20px;
	border:1px solid #666;
	background: rgb(192,192,192); 
	position: absolute;
}

.ui-part2{
	display: flex;
	flex-wrap: wrap;
	width:600px;
	height:403px;
	margin-top: 20px;
	border-left:1px solid grey;
}
.ui-part2-littlebox{
	display: flex;
	width:150px;
	height:40px;
    border-top:1px solid grey;
    border-right:1px solid grey;
}
.ui-part2-bigbox{
	display: flex;
    width:600px;
	height:360px;
	display: flex;
	border-top:1px solid grey;
    border-right:1px solid grey;
    border-bottom:1px solid grey;
    justify-content: center;
    line-height: 360px;
    font-size: 200px;
    color:grey;
}

.ui-part3{
	display:flex;
	width:600px;
	height:400px;
	margin-top: 20px;
	flex-direction: column;
	border:1px solid grey;
}
.ui-part3-topbox{
	width:600px;
	height:320px;
	flex-direction: column;
	border-bottom:1px solid grey;
	overflow: auto;
}
.ui-part3-topbox-item{
	margin-left: 75px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	width:450px;
	height:40px;
	border:1px solid grey;
}
.ui-part3-topbox-item-head{
    width:50px;
    height:40px;
    border-right: 1px solid grey;
    line-height: 40px;
    text-align: center;
    justify-content: center;
}
.ui-part3-topbox-item-body{
    width:300px;
    height:40px;
    border-right: 1px solid grey;
}
.ui-part3-topbox-item-end{
    width:100px;
    height:40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
}

.ui-part3-nextbox{
   display: flex;
	width:600px;
	height:80px;
}
.ui-part3-nextbox-add{
	width: 150px;
	height: 30px;
	border:1px solid black;
	margin-top: 30px;
	margin-left: 400px;
	background-color: rgb(51,153,102);
	color: white;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}